{%extends "base/base.html" %}
{% block page %}
    {% load static %}
    <main style="" >
        <div class="block_trainer" style="height: 500px">
            <div class="block_all_trainer">
                <a href="{% url "achivmentsUser" %}" class="link_return"><p >◀</p> Все достижения</a>
            </div>
            <div class="block_info_trainer">
                <div class="block_img_trainer">
                    <img class="img_trainer" style="height: 450px; width: 70%" src="{{achivment.icon.url}}" alt="">
                </div>
                <div class="block_text_trainer">
                    <div style="height: 70%">
                        <h1 style="color: black; text-align: left; font-size: 30px; ">{{ achivment.name}}</h1>
                        <p style="margin-top: 20px; text-align: left;">Описание: {{ achivment.description}}</p>
                        <p style="margin-top: 20px; text-align: left;">Количество баллов за достижение: {{ achivment.points}}  </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}