{%extends "base/base.html" %}
{% block page %}
    {% load static %}
    <main>
        <div class="block_trainer">
            <div class="block_all_trainer">
                <a href="{% url "news" %}" class="link_return"><p >◀</p> Все новости</a>
            </div>
            <div class="block_info_trainer" style="height: 450px">
                <div class="block_img_trainer">
                    <img class="img_trainer" style="height: 450px" src="{{new.image.url}}" alt="">
                </div>
                <div class="block_text_trainer">
                    <div style="height: 70%">
                        <h3 style="margin-top: 0; color: #686868; text-align: right;">{{ new.date}}</h3>
                        <h1 style="color: black; text-align: left;  font-size: 40px; margin-top: 20px">{{ new.title}}</h1>
                        <p style="margin-top: 20px; text-align: left">{{ new.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}