{%extends "base/base.html" %}
{% block content %}
    {% load static %}
    <main class="profile_fon">
        <div class="data_block">
            <div class="block_private_data">
                <div class="block_info_user">
                    <img src="{{trainer.image.url}}" alt="">
                    <div class="private_data">
                       <h1>{{trainer.last_name}} {{trainer.first_name}} {{trainer.patronymic}}</h1>
                        <p>Дата рождения: {{trainer.date_of_birth}}</p> 
                        <p>Паспортные данные: {{trainer.passport_data}}</p>
                        <p>Email: {{trainer.email}}</p>
                        <p>Номер телефона: {{trainer.phone_number}}</p> 
                    </div>
                </div>
                <hr style="color: white; width: 100%">
                <div class="block_button_edit">
                    <a href="">Изменить данные</a>
                </div>
            </div>
        </div>
       
    </main>
{% endblock %}