{%extends "base/base.html" %}
{%block content %}
    {% load static %}
    <main style="justify-content: center; min-height: 100vh;background: black; border-radius: 20px; margin-top: 10px; margin-bottom: 10px; padding: 10px" >
    <h1 class="titleMain" >Расписание</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Genre</th>
                <th>Action</th>
            </thead>
            <tbody id="table_movie_id">
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button value="" >
                            delete
                        </button>
                    </td>
                </tr>
                
            </tbody>
            
        </table>
    </main>
{% endblock %}