html, body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}


body{
    overflow-x:hidden;
    background: #f7f9fb;
    background-attachment: fixed;
    background-size: cover;
}