{%extends "base/base.html" %}
{% block page %}
    {% load static %}
    <style>
        .form-group {
            width: 100%; /* чтобы занимать всю ширину контейнера */
            margin-bottom: 15px; /* отступ между группами */
        }
    
        .form-group label {
            display: block; /* чтобы label был сверху */
            margin-bottom: 5px; /* небольшой отступ между label и полем */
            font-weight: bold; /* чтобы выделить метку */
        }
    
        .form-group input, 
        .form-group select, 
        .form-group textarea {
            width: 100%; /* чтобы поля занимали всю ширину */
            box-sizing: border-box; /* чтобы padding и border учитывались в ширине */
        }
    </style>
    <main style="min-height: 100vh;" >
        <div class="login_form_block" >
            <form class="login_form" method="POST">
                {% csrf_token %}
                <h2 style="margin-bottom: 20px">Добавить визит</h2> 
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <button class="button_exit" type="submit">Добавить</button>
            </form>
        </div>
    </main>
{% endblock %}