{%extends "base/base.html" %}
{% block page %}
    {% load static %}
    <main class="main_notification" >
        <div class="block_title_notification">
            <h1 style="text-align: left">Уведомления</h1>
        </div>
        <div class="block_notifications">
            {% for notification in notifications %}
            <div class="notification" >
                <div style="display: flex">
                    <div class="block_notification_all">
                         
                        <div class="notification_title">
                            <h4 style="font-size: 20px">{{ notification.title }}</h4>
                        </div>
                        <div class="notification_text">
                            <p style="text-align: left; font-size: 15px">{{ notification.text }}</p>
                        </div>
                        <div class="notification_time">
                            <p>{{ notification.createdAt }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}