{%extends "base/base.html" %}
    {% block page %}
        {% load static %}
    <main style="min-height: 100vh; background: white; padding: 0 20px">
    
    <nav>
        <button onclick="showSection('members')">Клиенты</button>
        <button onclick="showSection('trainers')">Тренера</button>
        <button onclick="showSection('subscriptions')">Абонементы</button>
        <button onclick="showSection('news')">Новости</button>
    </nav>
    <hr>
    <div class="content">
        <div id="section-members" class="section" >
            <div style="width: 100%; display: flex">
                <div style="width: 100%; ">
                    <input id="search-members" style="margin-bottom: 10px; margin-top: 10px" type="text" placeholder="Поиск"> 
                </div>
               <div class="block_add">
                    <a href="" class="addDate">Добавить</a>
                </div> 
            </div>
            
            <div style="height: 800px;overflow-y: scroll;">
                <table>
                    <thead class="headerTable">
                        <tr>
                            <th>Изображение</th>
                            <th>ФИО</th>
                            <th>Дата рождения</th>
                            <th>Номер телефона</th>
                            <th>Паспортные данные</th>
                            <th>Баланс</th>
                            <th>Пароль</th>
                            <th>Персональная карта</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-members" >
                    {% for item in members %}
                        <tr class="rowData">
                            <td class="tdData"><img src="{{ item.member.image.url }}"></td>
                            <td class="tdData">{{ item.member.first_name }} {{ item.member.last_name }} {{ item.member.patronymic }}</td>
                            <td class="tdData">{{ item.member.date_of_birth }}</td>
                            <td class="tdData">{{ item.member.user.phone }}</td>
                            <td class="tdData">{{ item.member.passport_data }}</td>
                            <td class="tdData">{{ item.member.balance }}</td>
                            <td class="tdData">{{ item.member.user.password }}</td>
                            <td class="tdData">{{ item.personal_card.code }}</td>
                            <td class="tdData">
                                <a class="action-btn edit" href="">Редактировать</a>
                                <a class="action-btn delete" href="">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
        <!-- Таблица Категорий -->
        <div id="section-trainers" class="section" style="display:none;">
            <div style="width: 100%; display: flex">
                <div style="width: 100%; ">
                    <input id="search-trainers" style="margin-bottom: 10px; margin-top: 10px" type="text" placeholder="Поиск"> 
                </div>
               <div class="block_add">
                    <a href="" class="addDate">Добавить</a>
                </div> 
            </div>
            <div style="height: 800px;overflow-y: scroll;">
                <table>
                    <thead class="headerTable">
                        <tr>
                            <th>Изображение</th>
                            <th>ФИО</th>
                            <th>Дата рождения</th>
                            <th>Номер телефона</th>
                            <th>Паспортные данные</th>
                            <th>Опыт</th>
                            <th>Образование</th>
                            <th>Направления</th>
                            <th>Пароль</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-trainers">
                    {% for trainer_item in members %}
                        {% for trainer in trainer_item.trainers %}
                        <tr class="rowData">
                            <td class="tdData"><img src="{{ trainer.trainer.image.url }}"></td>
                            <td class="tdData">{{ trainer.trainer.first_name }} {{ trainer.trainer.last_name }} {{ trainer.trainer.patronymic }}</td>
                            <td class="tdData">{{ trainer.trainer.date_of_birth }}</td>
                            <td class="tdData">{{ trainer.trainer.phone }}</td>
                            <td class="tdData">{{ trainer.trainer.passport_data }}</td>
                            <td class="tdData">{{ trainer.trainer.experience }}</td>
                            <td class="tdData">
                                {% for education in trainer.educations.all %}
                                    {{ education }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="tdData">
                                {% for direction in trainer.directions.all %}
                                    {{ direction }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="tdData">{{ trainer.trainer.user.password }}</td>
                            <td class="tdData">
                                <a class="action-btn edit" href="">Редактировать</a>
                                <a class="action-btn delete" href="">Удалить</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>    
                </table>
            </div>  
        </div>
    
        <div id="section-subscriptions" class="section" style="display:none;">
            <div style="width: 100%; display: flex">
                <div style="width: 100%; ">
                    <input id="search-subscriptions" style="margin-bottom: 10px; margin-top: 10px" type="text" placeholder="Поиск"> 
                </div>
               <div class="block_add">
                    <a href="" class="addDate">Добавить</a>
                </div> 
            </div>
            <div style="height: 800px;overflow-y: scroll;">
                <table>
                    <thead class="headerTable">
                        <tr>
                            <th>Название</th> 
                            <th>Категория</th>
                            <th>Возможности</th>
                            <th>Продолжительность</th>
                            <th>Цена</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                
                    <tbody id="tbody-subscriptions">
                    {% for subscription in subscriptions %}
                        <tr class="rowData">
                            <td class="tdData">{{ subscription.title }}</td>
                            <td class="tdData">{{ subscription.category.name }}</td>
                            <td class="tdData">
                                {% for feature in subscription.features.all %}
                                    {{ feature }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="tdData">{{ subscription.duration_days }}</td>
                            <td class="tdData">{{ subscription.price }}</td>
                            <td class="tdData">
                                <a class="action-btn edit" href="">Редактировать</a>
                                <a class="action-btn delete" href="">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="section-news" class="section" style="display:none;">
            <div style="width: 100%; display: flex">
                <div style="width: 100%; ">
                    <input id="search-news" style="margin-bottom: 10px; margin-top: 10px" type="text" placeholder="Поиск"> 
                </div>
               <div class="block_add">
                    <a href="" class="addDate">Добавить</a>
                </div> 
            </div>
            <div style="height: 800px;overflow-y: scroll;">
                <table>
                    <thead class="headerTable">
                        <tr class="rowData">
                            <th>Изображение</th>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Дата</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-news">
                    {% for news in news %}
                        <tr class="rowData">
                            <td class="tdData"><img src="{{ news.image.url }}"></td>
                            <td class="tdData">{{ news.title }}</td>
                            <td class="tdData">{{ news.content }}</td>
                            <td class="tdData">{{ news.date }}</td>
                            <td class="tdData">
                                <a class="action-btn edit" href="" >Редактировать</a>
                                <a class="action-btn delete" href="" >Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
    <script>
      function showSection(sectionId) {
        document.querySelectorAll('.section').forEach(section => {
          section.style.display = 'none';
        });
        document.getElementById('section-' + sectionId).style.display = 'block';
      }
      
      document.addEventListener('DOMContentLoaded', () => {
        showSection('members');
      });
      
      
   document.addEventListener('DOMContentLoaded', () => {
  // Функция для фильтрации таблицы
  function setupSearch(inputId, tbodyId) {
    const input = document.getElementById(inputId);
    const tbody = document.getElementById(tbodyId);
    input.addEventListener('input', () => {
      const filter = input.value.toLowerCase();
      const rows = tbody.querySelectorAll('tr');
      rows.forEach(row => {
        const cells = row.querySelectorAll('td');
        let match = false;
        cells.forEach(cell => {
          if (cell.textContent.toLowerCase().includes(filter)) {
            match = true;
          }
        });
        row.style.display = match ? '' : 'none';
      });
    });
  }

  // Настройка поиска для каждой секции
  setupSearch('search-members', 'tbody-members');
  setupSearch('search-trainers', 'tbody-trainers');
  setupSearch('search-subscriptions', 'tbody-subscriptions');
  setupSearch('search-news', 'tbody-news');
});
    </script>

{% endblock %}