{%extends "base/base.html" %}
    {% block page %}
        {% load static %}
    <main style="min-height: 100vh; background: white; padding: 0 20px">
    <nav>
        <button onclick="showSection('subscription')">Абонементы</button>
        <button onclick="showSection('coach')">Тренера</button>
        <button onclick="showSection('items')">Товары</button>
    </nav>
    <hr>
    <div class="content">
    <div id="section-items" class="section" style="display:none;">
             <div style="width: 100%; display: flex">
                    <div style="width: 100%; ">
                        <input id="search-items" style="width: 99%" type="text" placeholder="Поиск"> 
                    </div>
             </div>
            <div style="height: 800px;overflow-y: scroll;">
                <table>
                    <thead class="headerTable">
                        <tr>
                            <th>Товар</th>
                            <th>Цена</th>
                            <th>Дата оплаты</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-items">
                    {% for shopItemsPayments in  shopItemsPayments%}
                        <tr class="rowData">
                            <td class="tdData">{{ shopItemsPayments.item.title }}</td>
                            <td class="tdData">{{ shopItemsPayments.amount }}</td>
                            <td class="tdData">{{ shopItemsPayments.buySubscription.createdAt  }}</td>
                            <td class="tdData">{{ shopItemsPayments.createdAt}}</td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="section-coach" class="section" >
              <div style="width: 100%; display: flex">
                    <div style="width: 100%; ">
                        <input id="search-subscription" style="width: 99%" type="text" placeholder="Поиск"> 
                    </div>
              </div>
               <div style="height: 800px;overflow-y: scroll;">
                    <table>
                        <thead class="headerTable">
                            <tr>
                                <th>Клиент</th>
                                <th>Тренер</th>
                                <th>Запись</th>
                                <th>Тип тренировки</th>
                                <th>Цена</th>
                                <th>Дата оплаты</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-subscriptions">
                        {% for trainingPayment in trainingPayments %}
                            <tr class="rowData">
                                <td class="tdData"> {{ trainingPayment.timetableCoach.member.lastName }} {{ trainingPayment.timetableCoach.member.firstName }} {{ trainingPayment.timetableCoach.member.patronymic }}</td>
                                <td class="tdData">{{ trainingPayment.timetableCoach.trainer.lastName }} {{ trainingPayment.timetableCoach.trainer.firstName }} {{ trainingPayment.timetableCoach.trainer.patronymic }}</td>
                                <td class="tdData">{{ trainingPayment.timetableCoach.dateTime }}</td>
                                 <td class="tdData">{{ trainingPayment.timetableCoach.typeTraining }}</td>
                                <td class="tdData">{{ trainingPayment.amount}}</td>
                                <td class="tdData">{{ trainingPayment.createdAt }}</td>
                                <td class="tdData">{{ trainingPayment.timetableCoach.status }}</td>
                                
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
               </div>
              </div>
    
        <div id="section-subscription" class="section" style="display:none;">
             <div style="width: 100%; display: flex">
                    <div style="width: 100%; ">
                        <input id="search-trainers" style="width: 99%" type="text" placeholder="Поиск"> 
                    </div>
             </div>
            <div style="height: 800px;overflow-y: scroll;">
                <table>
                    <thead class="headerTable">
                        <tr>
                            <th>Клиент</th>
                            <th>Абонемент</th>
                            <th>Цена</th>
                            <th>Дата оплаты</th>
                            <th>Дата начала абонемента/Дата окончания абонемента</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-trainers">
                    {% for subscriptionPayment in  subscriptionPayments%}
                        <tr class="rowData">
                            <td class="tdData">{{ subscriptionPayment.personalCard.member.lastName }} {{ subscriptionPayment.personalCard.member.firstName }} {{ subscriptionPayment.personalCard.member.patronymic }}</td>
                            <td class="tdData">{{ subscriptionPayment.buySubscription.subscription.title }}</td>
                            <td class="tdData">{{ subscriptionPayment.buySubscription.amount }}</td>
                            <td class="tdData">{{ subscriptionPayment.buySubscription.createdAt  }}</td>
                            <td class="tdData">{{ subscriptionPayment.startDate }}-{{ subscriptionPayment.endDate }}</td>
                            <td class="tdData">{{  subscriptionPayment.isActive }}</td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    </main>
    <script>
      
            function showSection(sectionId) {
        document.querySelectorAll('.section').forEach(section => {
          section.style.display = 'none';
        });
        document.getElementById('section-' + sectionId).style.display = 'block';
      }
      
      document.addEventListener('DOMContentLoaded', () => {
        showSection('subscription');
      });
      
      
   document.addEventListener('DOMContentLoaded', () => {
  // Функция для фильтрации таблицы
  function setupSearch(inputId, tbodyId) {
    const input = document.getElementById(inputId);
    const tbody = document.getElementById(tbodyId);
    input.addEventListener('input', () => {
      const filter = input.value.toLowerCase();
      const rows = tbody.querySelectorAll('tr');
      rows.forEach(row => {
        const cells = row.querySelectorAll('td');
        let match = false;
        cells.forEach(cell => {
          if (cell.textContent.toLowerCase().includes(filter)) {
            match = true;
          }
        });
        row.style.display = match ? '' : 'none';
      });
    });
  }

  // Настройка поиска для каждой секции
  setupSearch('search-trainers', 'tbody-trainers');
  setupSearch('search-subscriptions', 'tbody-subscriptions');
  setupSearch('search-items', 'tbody-items');
});
    </script>
{% endblock %}