<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Каталог</title>
        <link rel="icon" href="{% static 'ico/favicon.ico' %}">
        <link href="{% static 'CSS/header.css' %}" rel="stylesheet" >
        <link href="{% static 'CSS/body1.css' %}" rel="stylesheet" >
        <link href="{% static 'CSS/footer.css' %}" rel="stylesheet" >
        <link href="{% static 'CSS/aside.css' %}" rel="stylesheet" >
        <link href="{% static 'CSS/news.css' %}" rel="stylesheet" >
        <link href="{% static 'CSS/subscriptions.css' %}" rel="stylesheet" >
        <link href="{% static 'CSS/trainers.css' %}" rel="stylesheet" >
        <link href="{% static 'CSS/shop.css' %}" rel="stylesheet" >
        <link href="{% static 'CSS/basket.css' %}" rel="stylesheet" >
</head>
<body>
{% if user.isActive == True %}
    <aside>
        <div class="tabsAside">
            {% if member %}
                <a href="" class="imgAsideUserLink"><img class="imgAsideUser" src="{{ member.image.url }}" alt=""/></a>
                <a href="{% url 'profile_user' %}"  class="asideLink"><img class="imgAsideNav" src="../../static/aside/free-icon-home-5525279.png" alt=""><p>Главная</p></a>
                <a href="{% url 'records' %}" class="asideLink"><img class="imgAsideNav" src="../../static/aside/free-icon-workout-6201361.png" alt=""><p>Записи</p></a>
                <a href="{% url 'news' %}" class="asideLink"><img class="imgAsideNav" src="../../static/aside/free-icon-newspaper-5502315.png" alt=""><p>Новости</p></a>
                <a href="{% url "notification" %}" class="asideLink"><img class="imgAsideNav" src="../../static/aside/free-icon-bell-6824079.png" alt=""><p>Уведомления</p></a>
                <a href="{% url 'subscriptions' %}" class="asideLink"><img class="imgAsideNav" src="../../static/aside/free-icon-subscription-9398940.png" alt=""><p>Абонементы</p></a>
                <a href="{% url 'trainers' %}" class="asideLink"><img class="imgAsideNav" src="../../static/aside/free-icon-coach-17097650.png" alt=""><p>Тренера</p></a>
                <a href="{% url 'shop' %}" class="asideLink"><img class="imgAsideNav" src="../../static/aside/free-icon-shelves-3854408.png" alt=""><p>Фитнес-товары</p></a>
            {% endif %}
            
            {% if admin %}
                <a href="" class="imgAsideUserLink"><img class="imgAsideUser" src="{{ admin.image.url }}" alt=""/></a>
                <a href="{% url 'adminMainPage' %}" class="asideLink"><img class="imgAsideNav" src="../../static/mainAdminPage/free-icon-stats-223407.png" alt=""/><p>Статистика</p></a>
                <a href="{% url 'WorkTable' %}" class="asideLink"><img class="imgAsideNav" src="../../static/mainAdminPage/free-icon-software-engineer-12534727.png" alt=""/><p>Управление таблицами</p></a>
                <a href="{% url 'timeTable' %}" class="asideLink"><img class="imgAsideNav" src="../../static/mainAdminPage/free-icon-coach-17097650.png" alt=""/><p>Расписание тренеров</p></a>
                <a href="{% url 'workSite' %}" class="asideLink"><img class="imgAsideNav" src="../../static/mainAdminPage/free-icon-online-4713146.png" alt=""/><p>Управление сайтом</p></a>
                <a href="{% url 'paymentsTable' %}" class="asideLink"><img class="imgAsideNav" src="../../static/mainAdminPage/free-icon-money-2969764.png" alt=""/><p>Платежи</p></a>
                <a href="{% url 'visitsTable' %}" class="asideLink"><img class="imgAsideNav" src="../../static/mainAdminPage/free-icon-weekly-calendar-outline-event-interface-symbol-54332.png" alt=""/><p>История посещений</p></a>
            {% endif %}
            {% if trainer %}
                <a href="" class="imgAsideUserLink"><img class="imgAsideUser" src="{{ trainer.image.url }}" alt=""/></a>
                <a href="{% url 'mainTrainerPage' %}" class="asideLink"><img class="imgAsideNav" src="../../static/mainAdminPage/free-icon-stats-223407.png" alt=""><p>Статистика</p></a>
                <a href=" {% url 'recordTrainerTimeTable' %}" class="asideLink"><img class="imgAsideNav" src="../../static/mainAdminPage/free-icon-software-engineer-12534727.png" alt=""><p>Расписание</p></a>
            {% endif %}
        </div>
            <a class="logoutUserLink"  href="{% url "logout" %}"><img class="imgAsideNav" src="../../static/aside/free-icon-exit-1286969%20(1).png" alt=""><p>Выход</p></a>
    </aside>
{% endif %}
<div style=" {% if user.isActive == True %}width: 94%;{% else %}width: 100%;{% endif %}   position: relative; justify-self: right;">
     <header>
        <div class="icon">
            <a href="{% url 'main_page' %}" style="text-decoration: none"><h1 style="text-align: left; font-size: 30px"><span style="color: #007bff">Gym</span> Center</h1></a>
        </div>
            <div class="header_menu">
                {% if user.isActive == True  %}
                    {% else %}
                    <a class="navigation_header" href="{% url 'main_page' %}"><p class="navigation_headerText">Главная</p></a>
                    <a class="navigation_header" href="{% url 'subscriptions' %}"><p class="navigation_headerText">Абонементы</p></a>
                    <a class="navigation_header" href="{% url 'news' %}"><p class="navigation_headerText">Новости</p></a>
                    <a class="navigation_header" href="{% url 'trainers' %}" ><p class="navigation_headerText">Тренера</p></a>
                    <a class="navigation_header" href="{% url 'shop' %}" ><p class="navigation_headerText">Фитнес товары</p></a>
                {% endif %}
            </div>
            <div class="login_user">
                <div style="justify-content: right; margin-right: 20px;">
                    {% if user.isActive == True  %}
                    {% else %}
                        
                        <a class="login_button" href="{% url "login" %}">Войти</a>
                        <a class="registr_button" href="{% url "registration" %}">Зарегистрироваться</a>
                    {% endif %}
                </div>
            </div>
        </header>
    <div style="display: flex">
        <div style="display: flex; flex: 50%">
            <h1 style="color: black; font-size: 50px">{% if subscriptions %}Абонементы{% elif trainers %}Тренера{% elif news %}Новости{% elif items %}Товары{% elif basketItems %}Корзина{% endif %}</h1>
        </div>
        {% if items and user.isActive == True %}
            <div style="display: flex; justify-content: right; align-items: center; flex: 50%">
                <a href="{% url 'basket' %}" style="border-radius: 20px; background: #007bff; margin-right: 10px; padding: 10px 15px; display: flex; text-decoration: none; justify-content: center; align-items: center"><img src="../../static/shop/free-icon-shopping-cart-711897.png" alt="" style="width: 30px; height: 30px; margin-right: 10px"><p style="color: white; text-align: left; font-size: 20px">Корзина</p></a>
            </div>
        {% endif %}
    </div>

    <div class="filters" id="filterButtons">
        <div style="display: flex; flex-wrap: wrap;  width: 100%;">
            <button class="filter-btn active" onclick="filterCategory('all'); setActiveFilter(this)">Все</button>
        {% if subscriptions %}
            {% for category in category %}
                <button class="filter-btn" onclick="filterCategory('{{ category}}'); setActiveFilter(this)">
                    {{  category.name }}</button>
            {% endfor %}
        {% elif trainers %}
            {% for categoryTrainer in categoryTrainer %}
                <button class="filter-btn" onclick="filterCategory('{{ categoryTrainer }}'); setActiveFilter(this)">
                    {{ categoryTrainer.name }}</button>
            {% endfor %}
        {% elif items %}
            {% for categoryItem in categoryItem %}
                <button class="filter-btn" onclick="filterCategory('{{ categoryItem }}'); setActiveFilter(this)">
                    {{ categoryItem.title }}</button>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    
    {% block catalog %}
    {% endblock %}
    
    <footer>
        <div class="navigation_footer">
            <div class="link_footer">
                <a class="navigation_footer_link">Главная</a>
                <a class="navigation_footer_link">Пространство</a>
                <a class="navigation_footer_link">Новости</a>
                <a class="navigation_footer_link">Тренера</a>
                <a class="navigation_footer_link">Абонементы</a>
                <a class="navigation_footer_link">О нас</a> 
            </div>
            <div class="contact_footer">
                <a class="contact_footer_title">Контакты</a>
                <a class="contact_footer_link">+ 7 (996) 279-11-67</a>
                
            </div>
        </div>
        <div class="social_block">
            <p >
                Сайт разработан
              <a class="social_link" href="https://github.com/stafeevCompany">
                StafeevCompany
              </a>  
            </p>
            
        </div>
    </footer>
</div>
</body>




<script>

function filterCategory(category) {
    const items = document.querySelectorAll({% if subscriptions %}'.card_subscription'{% elif trainers %}'.card_trainer'{% elif news %}'.card_news'{% elif items %}'card_item'{% endif %});

    items.forEach(item => {
        if (category === 'all' || item.dataset.category === category) {
            item.style.display = '';
        } else {
            item.style.display = 'none';
        }
    });
}

function setActiveFilter(button) {
    const buttons = document.querySelectorAll('.filter-btn');
    buttons.forEach(btn => btn.classList.remove('active'));
    button.classList.add('active');
    
    
}


 document.addEventListener('DOMContentLoaded', function() {
            const productsPerPage = 18;
            const allProducts = document.querySelectorAll({% if subscriptions %}'.card_subscription'{% elif trainers %}'.card_trainer'{% elif news %}'.card_news'{% elif items %}'.card_item'{% endif %});
            const totalProducts = allProducts.length;
            const totalPages = Math.ceil(totalProducts / productsPerPage);
            const paginationContainer = document.getElementById('pagination');
            let currentPage = 1;

            // Функция для отображения нужной страницы
            function showPage(page) {
                currentPage = page;
                const startIndex = (page - 1) * productsPerPage;
                const endIndex = startIndex + productsPerPage;

                allProducts.forEach((product, index) => {
                    if (index >= startIndex && index < endIndex) {
                        product.classList.remove('hidden');
                    } else {
                        product.classList.add('hidden');
                    }
                });
                renderPagination();
            }

            // Функция для отрисовки ссылок пагинации
            function renderPagination() {
                paginationContainer.innerHTML = '';
                for (let i = 1; i <= totalPages; i++) {
                    const link = document.createElement('a');
                    link.href = '#';
                    link.textContent = i;
                    if (i === currentPage) {
                        link.classList.add('current');
                    }
                    link.addEventListener('click', function(e) {
                        e.preventDefault();
                        showPage(i);
                    });
                    paginationContainer.appendChild(link);
                }
            }

            // Инициализация: показать первую страницу
            showPage(1);
        });
 
 
 </script>
</html>